@page
@model Veterinary.Pages.Account.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<div class="row text-center">
    <div class="col-12">
        <label class="form-label fs-1">Profile</label>
    </div>
</div>

<!-- ID -->
<div class="row my-2">
    <div class="col-2">
        <label class="form-label fw-bold">@Model.IdLabel:</label>
    </div>
    <div class="col-10">
        <label class="form-label">@Model.Profile.Id</label>
    </div>
</div>

<!-- First name -->
<div class="row my-2">
    <div class="col-2">
        <label class="form-label fw-bold">First Name:</label>
    </div>
    <div class="col-10">
        <label class="form-label">@Model.Profile.FirstName</label>
    </div>
</div>

<!-- Last name -->
<div class="row my-2">
    <div class="col-2">
        <label class="form-label fw-bold">Last Name:</label>
    </div>
    <div class="col-10">
        <label class="form-label">@Model.Profile.LastName</label>
    </div>
</div>

<!-- Phone -->
<div class="row my-2">
    <div class="col-2">
        <label class="form-label fw-bold">Phone Number:</label>
    </div>
    <div class="col-10">
        <label class="form-label">@Model.Profile.PhoneNumber</label>
    </div>
</div>

<!-- Username -->
<div class="row my-2">
    <div class="col-2">
        <label class="form-label fw-bold">Username:</label>
    </div>
    <div class="col-10">
        <label class="form-label">@Model.Profile.Username</label>
    </div>
</div>
